.myButton{
    font-size:1vw;
    padding:10px;
    background: transparent;
    border:none;
    color:white;
    border : 2px solid white;
    border-radius: 20px;
    /* height: 50px !i; */
}
.myButton:hover{
    transition: 0.5s;
    background-color: white;
    color:black;
}
.myInput{
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    height:45px;
    background-color: white;
    color:#888da896;
    border: 1px solid #e1e7f0;
    border-radius: 2px !important;
}

.btn-shadow-blue{
    box-shadow: 0 15px 28px -5px rgba(0,123,255,.45);
}
.btn-info {
    background-color: #0f9aee;
    border-color: #0f9aee;
    color: #fff;
}
.btn-block{
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn{
    width:100%;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
    -webkit-transition: .3s ease-in-out;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
}
.btn-lg {
    font-size: 1.25rem;
    line-height: 1.5 !important;
}
.centered_placeholer::-webkit-input-placeholder {
    text-align: center;
    color:#888da896 !important;
 }
 .btnNumber{
    cursor: pointer;
    background-color: transparent;
    color : #0f9aee;
    border: 1px solid #0f9aee;
    padding-left : 20px;
    padding-right : 20px;
    font-size : 20px;
}
.btnNumber:hover{
    background-color: #0f9aee;
    color:white;
    
 }
.btn-template{
    color : white;
    cursor: pointer;
    padding : 10px;
    border : 0px;
    font-size: 15px;
    margin-right : 5px;
}
 .valider{
     background-color: #7774e7;
 }
 .supp{
    background-color: red;
 }